* {
    box-sizing: content-box;
}

/* pc?? */
@media (min-width:64em) {
    .container__selection {
        padding-bottom: 30px;
    }

}

/* tablet and pc */
@media (min-width:63.93em) and (max-width:77.5em) {
    .header__left-info {
        text-align: center;
    }

}

/* tablet */
@media (min-width:46.25em) and (max-width:64em) {
    .container__selection {
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .row {
        display: block;
    }

    .container__content-all {
        margin: 0;
    }

    .header-info {
        text-align: center;
    }

    .header-left {
        border: none;
    }

    .header-right-info {
        display: block;
        margin: 2px;
        text-align: center;
    }

    .icon-contact {
        display: inline-flex;
    }

}

/* mobile and tablet*/
@media (max-width:63.9em) {
    .header__left {
        border-right: none;
    }

    .display-flex h1,
    span {
        color: #32ff07;
        font-size: 1rem;
    }
}

/* mobile */
@media (max-width:46.18em) {
    .header__left-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__content-all {
        margin-left: 0px;
    }

    .container-content-title {
        font-size: 14px;
    }

    .transcript {
        width: 100%;
        background-position: right;
    }


    .img-project-toeic {
        height: 165px;
    }

    .img-project-shopee {
        height: 165px;
    }

    .img-project-profile {
        height: 165px;
    }

    .results-img-hover h1 {
        font-size: 10px;
    }

    .header__left-name {
        margin-top: 10px;
    }

    .header__left-discription {
        margin-bottom: 24px;
    }

    .container__content-img img {
        width: 100%;
    }

    .container__content-title h1 {
        font-size: 2rem;
        margin: 10px 0;
    }

    .title__discription p {
        font-size: 1.2rem;
        margin: 0;
    }

    .container__selection {
        flex-direction: row;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .container__selection-item {
        width: auto;
        margin-top: 0;
        padding: 0 5px;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
    }

    .container__selection-item p {
        font-size: 1rem;
    }

    .slide-img img {
        margin: 0;
    }

    .slide__container {
        margin: 0;
        padding: 0;
        padding-top: 10px;
        margin-top: 20px;
    }

    .slide-dot {
        transform: translateX(-50%);
    }

    .header__avata {
        margin-top: -60px;
        margin-bottom: 20px;
    }

    .enjoin-description {
        text-align: center;
    }

    .container__enjoin-item {
        flex-direction: column;
    }

    .enjoin-description h1 {
        margin: 10px 0;
    }

    .img-link {
        width: 100%;
    }

    .display-flex h1,
    span {
        color: #32ff07;
        font-size: 0.6rem;
    }

    .title-selt {
        font-size: 1rem;
    }

    .title-result {
        font-size: 1rem;
    }

    .title-target {
        font-size: 1rem;
    }

    .title-interest {
        font-size: 1rem;
    }

    .interests-item {
        display: block;
        text-align: center;
    }

    .row {
        display: block;
    }

    .header-left {
        border-right: none;
    }

    .description {
        text-align: center;
    }

    .name {
        text-align: center;
    }

    .header-right-info {
        text-align: center;
        display: block;
    }

    .icon-contact {
        margin-left: 30px;
    }
}